.like-tost{
    width: 250px;
    right: 5%;
}

@media screen and (max-width: 576px) {
    .section1 img{
        height: 300px;
    }
    .section2{
        flex-direction: column-reverse;
    }
    
}
@media screen and (min-width:577px) and (max-width:768px) {
    .section2 {
            flex-direction: column-reverse;
        }
}
@media screen and (min-width:769) and (max-width:992){
    .section2 {
            flex-direction: column-reverse;
        }
}
@media screen and (min-width: 993px) {
    .venue-description{
        width: 50%;
    }
}